.sectionHeader {
  grid-area: header;
  border-style: solid;
}
.sectionLeft {
  grid-area: leftSection;
  border-style: solid;
  justify-self: center;
}
.sectionMiddle {
  grid-area: middleSection;
  border-style: solid;
}
.sectionRight {
  grid-area: rightSection;
  border-style: solid;
}
.sectionFooter {
  grid-area: footer;
  border-style: solid;
  justify-self: end;
}
body {
  background: #a3abb7;
  font-size: 62.5%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "leftSection middleSection rightSection"
    "footer footer footer";
  grid-gap: 15px 10px;
}
h1 {
  font-size: 3em;
}
.disk {
  border-radius: 20px;
  height: 5em;
}
#one {
  background: red;
  width: 10em;
}
#two {
  background: white;
  width: 18em
}
#three {
  background: blue;
  width: 24em;
}
