.itemHeader {
  grid-area: header;
  border-style: solid;
}
.gameLeft {
  grid-area: leftSection;
  display: grid;
  justify-items: center;
}
.gameMiddle {
  grid-area: middleSection;
}
.gameRight {
  grid-area: rightSection;
}
.itemFooter {
  grid-area: footer;
  border-style: solid;
  justify-self: end;
}
.gameItem {
  border-style: solid;
}
body {
  background: #a3abb7;
  font-size: 62.5%;
  display: grid;
  justify-content: space-around;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "leftSection middleSection rightSection"
    "footer footer footer";
  grid-gap: 15px 10px;
}
h1 {
  font-size: 3em;
}
/*.pole {
  height: 17em;
  width: 3em;
  border-radius: 5px;
  background-color: brown;
  z-index: -1;
  margin: auto;
}*/
.disk {
  border-radius: 20px;
  height: 5em;
}
#diskOne {
  background: red;
  width: 10em;
}
#diskTwo {
  background: white;
  width: 18em
}
#diskThree {
  background: blue;
  width: 24em;
}
